https://github.com/wazo-pbx/wazo-auth-client/archive/buster.zip
https://github.com/wazo-pbx/xivo-lib-rest-client/archive/buster.zip
https://github.com/wazo-pbx/xivo-test-helpers/archive/buster.zip
docker
docker-compose
nose
pyhamcrest
pyyaml
